.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-image: url("Images/wetsuit_hub-homeImage.png");
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 85%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  color: black;
}

.WetsuitPage-header {
  background-image: url("Images/wetsuit_hub-wetsuitPageImage.png");
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 85%;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WetsuitTile {
  border-style: hidden;
  border-width: 250px 2px 2px 2px;

  height: 350px;
  width: auto;
}

.WetsuitPageSpace{
  border-style: solid;
  border-color: white;
  padding: 10px;
}

.WetsuitList{
  background-color: white ;
}
